<!DOCTYPE html>
<html>
  <head>
   <%= link_to "ホーム", root_url %><br />
        <% if user_signed_in? %>
            こんにちは、<%= link_to current_user.email, users_show_path %><br />
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "サインイン", new_user_session_path %>
        <%= link_to "ユーザ登録", new_user_registration_path %>
      <% end %>
      <hr />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
